{% extends 'base.html.twig' %}

{% block title %}Créer une formation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formation</h1>

    {{ form_start(form) }}
        {{ form_row(form.publication_id) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.nombre_places) }}
        {{ form_row(form.prix) }}
        <button class="btn">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_formation_index') }}">Retour à la liste</a>
{% endblock %}
