{{ form_start(form, {'attr': {'autocomplete': 'off', 'novalidate': 'novalidate'}}) }}

{% for field in form %}
    {% if field.vars.name != 'status' %}
        <div class="mb-3">
            {{ form_label(field) }}
            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(field) }}
        </div>
    {% endif %}
{% endfor %}

<div class="mb-3">
    {{ form_label(form.status) }}
    {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.status) }}
</div>

<button class="btn btn-success">
    {{ button_label|default('💾 Enregistrer') }}
</button>

{{ form_end(form) }}
