{{ form_start(form) }}
    {{ form_row(form.note) }}
    {{ form_row(form.commentaire) }}
    {{ form_row(form.dateAvis) }}
    {{ form_row(form.typeAvis) }}
    {{ form_row(form.user) }}
    <button class="btn btn-primary">Soumettre</button>
{{ form_end(form) }}
