{% extends 'base.html.twig' %}

{% block title %}Utilisateur de test créé{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h3>{{ message }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info">
                            <p>Un utilisateur de test a été créé avec les informations suivantes :</p>
                        </div>
                        
                        <table class="table table-bordered">
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ user.nom }}</td>
                            </tr>
                            <tr>
                                <th>Prénom</th>
                                <td>{{ user.prenom }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ user.typeUtilisateur }}</td>
                            </tr>
                            <tr>
                                <th>Rôles</th>
                                <td>{{ user.roles|join(', ') }}</td>
                            </tr>
                            <tr class="table-warning">
                                <th>Mot de passe (en clair)</th>
                                <td>{{ plainPassword }}</td>
                            </tr>
                            <tr>
                                <th>Mot de passe (hashé)</th>
                                <td style="word-break: break-all;">{{ hashedPassword }}</td>
                            </tr>
                        </table>
                        
                        <div class="alert alert-warning">
                            <h4>Instructions pour se connecter</h4>
                            <p>Utilisez les identifiants suivants pour vous connecter :</p>
                            <ul>
                                <li><strong>Email :</strong> {{ user.email }}</li>
                                <li><strong>Mot de passe :</strong> {{ plainPassword }}</li>
                            </ul>
                        </div>
                        
                        <div class="mt-4">
                            <a href="{{ path('app_login') }}" class="btn btn-primary">Aller à la page de connexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
